<%= form_tag url: "/departments/s" :post  do %>
  <fieldset>
    <ul style="list-style-type:none">
      <li>
        <%= label_tag( "Loan amount") %>
        <%= text_field_tag(:loan_amount) %>
      </li>
      <li>
        <%= label_tag( "Trade-in value") %>
        <%= text_field_tag(:trade_in) %>
      </li>
    </ul>
     <%= submit_tag "Calculate Payment" %>

  </fieldset>
<% end %>

<% if @total_loan = 0 %>
  <p>Enter information above to calcuate your total loan.</p>
<% else %>
  <p>Your loan amount is <%= @loan_amount %></p>
  <p>Your trade-in amount is <%= @trade_in %></p>
  <p>Your total amount is <% @total_loan%> </p>
<% end %>
